@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #1d1d1d;

}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    
}

.cabecalho-imagem{
    height: 70px;
    border-radius: 20px;
    
}

.cabecalho-menu{
    display: flex;
    gap: 100px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover{
    color: #C22323
}

.black{
    border-radius: 50%;
    height: 100px;
    transition: all 0.5s;
    cursor: pointer;
}

.black:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.conteudo{
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    
}

.conteudo-principal{
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;

}

.conteudo-titulo{
    margin-top: 50px;
}

.conteudo-imagem{
    margin-top: 50px;
}

.projetos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
    gap: 100px;
    margin-bottom: 50px;
}

.projeto-titulo{
    margin-bottom: 40px;
}

.js{
    height: 100px;
    transition: all 0.5s;
    cursor: pointer;
}

.js:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.rodape{
    padding: 20px;
    border-top: 0.4px solid #FFF2EF;
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}